/* Page acceuil */

header{
margin:auto;
border-width: 5px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
}

body{
    margin:0;
    padding:0;
    background-color: rgb(41, 41, 41);
}


.logo {
width: 50px;
height: 50px;
display: inline-block;
}

.logo img {
width: 300px;
height: 100px;
display: inline-block;
margin-left: 190px;
}

.lien {
display: inline-block;
margin-left: 450px;
font-weight: bolder;
font-size: large;
position:relative;
top:-35px;
}

.recherche {
display: inline-block;
margin-left: 450px;

}

a{
display: inline-block;
text-decoration: none;
color: rgb(247, 247, 247);
font-weight: bolder;
font-size: 20px;
}

a:visited {
color: rgb(255, 255, 255);
}

a:hover {
color: rgb(255, 0, 0);
}
.titre {
    text-align: center;
    color: white;
    font-size: 30px;
   margin-top: 10px;
}

/* Kingdom */

.titrekingdom {
    color: white;
    font-size: 20px;
    margin-top: -420px;
    margin-left: 700px;

}

.textekingdom{
    text-align:justify;
    margin-left:700px;
    margin-right:850px;
    color: white;
    font-size: 18px;
  
}



.kingdom img {
    width: 280px;
    height: 400px;
    margin-top: 150px;
    color:white;
border-width: 5px;
border-style: solid;
display: inline-block;
padding: 0%;
margin-left: 400px;
margin-top: 10px;
}

.kingdomsynopsis {
margin-top:20px;
margin-left:250px;
margin-right:560px;
border-width: 3px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
padding:0;
}

.kingdomimagesynopsis img {
width: 280px;
height: 400px;
margin-top: 5px;
margin-left: -30px;
    color:white;
border-width: 5px;
border-style: solid;
display: inline-block;
padding: 0%;
}

.Kingdomsynopsisbordure {
    margin-left: 250px;
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-right: 560px;
    border-width: 3px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(63, 63, 63);
padding:50px;

}

.Kingdomtextesynopsis {
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 300px; 
    margin-top:-390px;
}

.kingdomchapitres {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 560px;
    border-width: 3px;
    border-style: solid;
  border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
padding:0;
 }

 .kingdomchapitrestexte {
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 249px;
    margin-right:560px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    background-color:rgb(63, 63, 63);
    padding:0px;
}

.chapitre841titre {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.kingdomchapitreimages{
    text-align: center;
}

/* Vinland Saga */

.vinlandsaga img {

    width: 280px;
    height: 400px;
    color:white;
border-width: 5px;
border-style: solid;
padding: 0%;
margin-left: 1100px;
margin-top: -74px;
}

.titrevinlandsaga {
    text-align:justify;
    margin-left:1400px;
    margin-right:0px;
    color: white;
    font-size: 20px;
    margin-top: -420px;
}

.vinlandsagaallmanga img {
     width: 280px;
    height: 400px;
    color:white;
border-width: 5px;
border-style: solid;
padding: 0%;
margin-left: 1100px;
margin-top: -299px;
}

.textevinlandsaga {
   text-align:justify;
    margin-left:1400px;
    margin-right:200px;
    color: white;
    font-size: 18px;
    margin-top: 27px;
}

.vinlandsagasynopsis {
    margin-top:20px;
    margin-left:250px;
    margin-right:560px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    background-color:rgb(88, 88, 88);
    padding:0;
}

.vinlandsagasynopsisbordure {
margin-left: 250px;
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-right: 560px;
    border-width: 3px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(63, 63, 63);
padding:50px;
}

.vinlandsagaimagesynopsis {
   width: 280px;
height: 400px;
margin-top: 5px;
margin-left: -30px;
    color:white;
border-width: 5px;
border-style: solid;
display: inline-block;
padding: 0%;
}

.vinlandsagatextesynopsis {
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 300px; 
    margin-top:-390px;
}

.vinlandsagachapitres {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 560px;
    border-width: 3px;
    border-style: solid;
  border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
padding:0;
}

.vinlandsagachapitrestexte{
     text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 249px;
    margin-right:560px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    background-color:rgb(63, 63, 63);
    padding:0px; 
}

.chapitre219titre {
     text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.vinlandsagachapitreimages {
    text-align: center;
}

/* Ligne séparatrice */

.ligneséparatriceallmanga {
    margin-top: 180px;
}

.ligneséparatrice {
    margin-top: 350px;
}

/* Blue Lock */

.bluelock img {
    width: 280px;
    height: 400px;
    color:white;
border-width: 5px;
border-style: solid;
display: inline-block;
padding: 0%;
margin-left: 400px;
}

.titrebluelock {
   text-align:justify;
    margin-left:700px;
    margin-right:850px;
    margin-top: -420px;
    color: white;
    font-size: 20px; 
}

.textebluelock {
    text-align:justify;
    margin-left:700px;
    margin-right:850px;
    color: white;
    font-size: 18px;
}

.bluelocksynopsis {
margin-top:20px;
margin-left:250px;
margin-right:560px;
border-width: 3px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
padding:0;
}

.bluelocksynopsisbordure {
    margin-left: 250px;
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-right: 560px;
    border-width: 3px;
border-style: solid;
border-color: rgb(133, 133, 133);
background-color:rgb(63, 63, 63);
padding:50px;
}

.bluelockimagesynopsis img {
width: 280px;
height: 400px;
margin-top: 5px;
margin-left: -30px;
    color:white;
border-width: 5px;
border-style: solid;
display: inline-block;
padding: 0%;
}

.bluelocktextesynopsis {
     text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 300px; 
    margin-top:-430px;
}

.bluelockchapitres {
     margin-top: 20px;
    margin-left: 250px;
    margin-right: 560px;
    border-width: 3px;
    border-style: solid;
  border-color: rgb(133, 133, 133);
background-color:rgb(88, 88, 88);
padding:0;
}

.bluelockchapitrestexte {
    text-align: justify;
    color: white;
    font-size: 18px;
    margin-left: 249px;
    margin-right:560px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(133, 133, 133);
    background-color:rgb(63, 63, 63);
    padding:0px;
}